@import '../../../index.css';

.nav-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  bottom: 0;
  max-width: inherit;
  background: rgba(0, 0, 0, 0.85);
  z-index: 100;
}

.copyright {
  color: var(--white-color);
  width: auto;
}
