@import '../../../index.css';

.nav-link {
  transition: 0.3s ease-in-out;
  color: var(--teal-color);
  font-size: 1.5rem;
  text-align: center;
  width: auto;
  margin: 0.5rem 1.5rem;
}

.nav-link.active {
  text-decoration: underline;
}

.nav-link:hover {
  color: var(--blue-color);
  text-decoration: underline;
}

/* Mobile Nav Drawer */
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  background: rgba(0, 0, 0, 0.65) !important;
}

@media only screen and (max-width: 800px) {
}
