:root {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.6rem;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--black-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --black-color: #1d1e22;
  --dark-teal: #344E5C;
  --dark-grey-color: #636e72;
  --light-grey-color: #dfe6e9;
  --white-color: #ffffff;
  --red-color: #EF3D59;
  --orange-color: #E17A47;
  --yellow-color: #EFC958;
  --green-color: #00b894;
  --blue-color: #0984e3;
  --teal-color: #4AB19D;
  --teal-highlight: rgba(1, 255, 230, .85);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto Mono', monospace;
  color: var(--light-grey-color);
  width: 100vw;
}

html {
  background-color: var(--black-color);
}

ol, ul, p {
  padding: 0;
  margin: 0;
}

.handwritten-style {
  font-family: 'Covered By Your Grace', Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.all-caps {
  text-transform: uppercase;
}

a {
  font-weight: 500;
  color: var(--teal-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--blue-color);
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

h1, .title-style-1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2, .title-style-2 {
  font-size: 2.9em;
  line-height: 1.1;
  font-weight: 600;
  color: var(--yellow-color);
}

h3, .title-style-3 {
  font-size: 2.75em;
  line-height: 1.1;
  color: var(--blue-color);
}

h4, .title-style-4 {
  font-size: 2.25em;
  line-height: 1.1;
  font-weight: 600;
}

h5, .title-style-5 {
  font-size: 2em;
  line-height: 1;
  color: var(--yellow-color);
}

h6, .title-style-6 {
  font-size: 1.75em;
  line-height: 1;
  font-weight: 600;
  color: var(--blue-color);
}

p, .content-style {
  font-size: 1.15em;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.6;
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white-color);
  }
  a:hover {
    color: var(--blue-color);
  }
  button {
    background-color: var(--white-color);
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white-color);
    background-color: var(--black-color);
  }
  a:hover {
    color: var(--blue-color);
  }

  button {
    background-color: var(--teal-color);
    border: 2px solid transparent;
    border-radius: .25rem;
    color: var(--black-color);
    transition: .3s ease-in-out;
  }
  button:hover {
    background-color: transparent;
    border-color: var(--teal-color);
  }
}
